# Ignore Python virtual environment
.venv/

# Ignore config file with secrets
streamlit_app/config.py
scripts/config.py

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Supabase service logs or uploads
upload_results.json
.idea/

